<div id='show_bg'>
  <div class="layout-logo">
    <afc-logo-lg />
  </div>
  <div style="height: calc(100vh - 84.31px)">
    <div class="d-flex justify-content-center align-items-center h-100">
      <div class="w-100">
        <div class="row">
          <div class="col-md-6 layout-left-content">
            <router-outlet></router-outlet>
          </div>
          <div class="col-md-6">
            <div class="layout-footer">
              &copy; {{ currentDate | date:'yyyy' }} AFC Holdings. All rights reserved.
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
